<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141438925228-tmc051qj9gerft0gh1h7dhht8c2vvs9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141438925228-tmc051qj9gerft0gh1h7dhht8c2vvs9h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141438925228-47ei3itl2j309900rnimofqt0di91bo0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGQmkFpPJaLdviwLQUyJAOWKI1uRsanmA</string>
	<key>GCM_SENDER_ID</key>
	<string>141438925228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgushop.hguShop</string>
	<key>PROJECT_ID</key>
	<string>hgu-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>hgu-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141438925228:ios:63857d07a768a5fb</string>
	<key>DATABASE_URL</key>
	<string>https://hgu-shop.firebaseio.com</string>
</dict>
</plist>